{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
        rel="stylesheet">
    <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %}" type="image/x-icon">
    <title>AVS Computer</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
    <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">

    <style>

    </style>

    <!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
</head>

<body>


    <!--header-->
    <header class="main-header clearfix" role="header">
        <div class="logo">
          <img src="/static/assets/images/logo (1).png" alt="">
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
          <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
              <li><a href="{% url 'home'%}" class="external">Home</a></li>
              <li><a href="{% url 'aboutus'%}" class="external">About Us</a></li>
              <li><a href="{% url 'course'%}" class="external">Course</a></li>
              <li><a href="{% url 'gallery'%}" class="external">Gallery </a></li>
              <li><a href="verification.html" class="external">Verify Certificate</a></li>
              <li><a href="placementpartner.html" class="external">Placementn Partners</a></li>
              <!-- <li><a href="#section5">Video</a></li> -->
              <li><a href="{% url 'contact'%}" class="external">Contact</a></li>
    
              <li><a href="{%url 'login' %}" class="user"> <img src="/static/assets/images/userlogo2.png" alt="" style="width: 30px; height: 30px;"></a></li>
    
            </ul>
          </nav>
        </nav>
      </header>

    <!-- ***** Main Banner Area Start ***** -->
    <section class="section main-banner" id="top">
        <video autoplay muted loop id="bg-video">
            <source src="/static/assets/images/course-video.mp4" type="video/mp4" />
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>AVS Computer</h6>
                <h2>Our <em>Gallery</em></h2>

            </div>
        </div>
    </section>
    <!-- ***** Main Banner Area End ***** -->




    <section class="section why-us vibg border-top" id="section2">
        <div class="container">
            <div class="col-md-12">
              <div class="section-heading">
                <h2>Photos</h2>
              </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                </div>
            </div>

            <div class="row">
                <div class="col-lg-4 col-md-12 mb-4 mb-lg-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain1.webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Wintry Mountain Landscape" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain2.webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Mountains in the Clouds" />

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(73).webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Boat on Calm Water" />
                </div>

                <div class="col-lg-4 mb-4 mb-lg-0">
                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Horizontal/Nature/4-col/img%20(18).webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Waves at Sea" />

                    <img src="https://mdbcdn.b-cdn.net/img/Photos/Vertical/mountain3.webp"
                        class="w-100 shadow-1-strong rounded mb-4" alt="Yosemite National Park" />
                </div>
            </div>

        </div>
    </section>

    <footer class="py-5">
        <div class="row" style="width: 100%;">


            <div class="col-5">
                <img src="/static/assets/images/logo (1).png" alt="">
                <p class="text-muted">Inclusive of comprehensive learning, the long-term programmes feature subjects
                    such as web development,
                    financial accountancy, computer application and programming, </p>
            </div>

            <div class="col-4">
                <h5 style="color: #8e8a89;">Contact on</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> &nbsp; &nbsp; +91 98180
                            12053</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> &nbsp; &nbsp;
                            avsitc@gmail.com</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">B- 18, New Vijay Nagar, Sector
                            - 9, Ghaziabad, Uttar Pradesh 201009</a></li>
                </ul>
            </div>

            <div class="col-3">
                <h5 style="color: #8e8a89;">Follow us on</h5>
                <ul class="nav flex-column">
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i
                                    class="fa fa-facebook"> </i></span> Facebook</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i
                                    class="fa fa-instagram"> </i></span> Instagram</a></li>
                    <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i
                                    class="fa fa-twitter"></i></span> Twitter</a></li>
                    <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i class="fa fa-facebook"></i></span> Home</a></li>
            <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i class="fa fa-facebook"></i></span> Home</a></li> -->
                </ul>
            </div>


        </div>

        <div class="d-flex justify-content-center mt-3  border-top text-white">
            <p>© 2021 Company, Inc. All rights reserved. <br> Design By ThemeWagon</p>
        </div>
    </footer>

    <!-- Scripts -->
    <!-- Bootstrap core JavaScript -->
    <script src="vendor/jquery/jquery.min.js"></script>
    <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <script src="assets/js/isotope.min.js"></script>
    <script src="assets/js/owl-carousel.js"></script>
    <script src="assets/js/lightbox.js"></script>
    <script src="assets/js/tabs.js"></script>
    <script src="assets/js/video.js"></script>
    <script src="assets/js/slick-slider.js"></script>
    <script src="assets/js/custom.js"></script>
    <script>
        //according to loftblog tut
        $('.nav li:first').addClass('active');

        var showSection = function showSection(section, isAnimate) {
            var
                direction = section.replace(/#/, ''),
                reqSection = $('.section').filter('[data-section="' + direction + '"]'),
                reqSectionPos = reqSection.offset().top - 0;

            if (isAnimate) {
                $('body, html').animate({
                    scrollTop: reqSectionPos
                },
                    800);
            } else {
                $('body, html').scrollTop(reqSectionPos);
            }

        };

        var checkSection = function checkSection() {
            $('.section').each(function () {
                var
                    $this = $(this),
                    topEdge = $this.offset().top - 80,
                    bottomEdge = topEdge + $this.height(),
                    wScroll = $(window).scrollTop();
                if (topEdge < wScroll && bottomEdge > wScroll) {
                    var
                        currentId = $this.data('section'),
                        reqLink = $('a').filter('[href*=\\#' + currentId + ']');
                    reqLink.closest('li').addClass('active').
                        siblings().removeClass('active');
                }
            });
        };

        $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
            if ($(e.target).hasClass('external')) {
                return;
            }
            e.preventDefault();
            $('#menu').removeClass('active');
            showSection($(this).attr('href'), true);
        });

        $(window).scroll(function () {
            checkSection();
        });
    </script>
</body>

</html>