{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.2/css/all.min.css'>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">
  <link rel="shortcut icon" href="{% static 'assets/images/fav.png' %} " type="image/x-icon">
  <title>AVS Computer</title>

  <!-- Bootstrap core CSS -->
  <link href="{% static 'vendor/bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="{% static 'assets/css/fontawesome.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/templatemo-grad-school.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/owl.css' %}">
  <link rel="stylesheet" href="{% static 'assets/css/lightbox.css' %}">



  <style>
    .item {


      margin-top: 20px;
      height: 450px;

    }
    .down-content {

      height: 290px;
    }
    .counter-container-main{
      justify-content: center;
      display: flex;
      flex-wrap: wrap;
      margin: auto;
   

    }

    .counter-container{
      padding: 20px;
      text-align: center;
    }

    .user{
     border-radius: 50px;
    }
   
  </style>

  <!--
    
TemplateMo 557 Grad School

https://templatemo.com/tm-557-grad-school

-->
</head>

<body>


  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <img src="/static/assets/images/logo (1).png" alt="">
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <nav id="menu" class="main-nav" role="navigation">
        <ul class="main-menu">
          <li><a href="{% url 'home'%}" class="external">Home</a></li>
          <li><a href="{% url 'aboutus'%}" class="external">About Us</a></li>
          <li><a href="{% url 'course'%}" class="external">Course</a></li>
          <li><a href="{% url 'gallery'%}" class="external">Gallery </a></li>
          <li><a href="verification.html" class="external">Verify Certificate</a></li>
          <li><a href="placementpartner.html" class="external">Placementn Partners</a></li>
          <!-- <li><a href="#section5">Video</a></li> -->
          <li><a href="{% url 'contact'%}" class="external">Contact</a></li>

          <li><a href="{%url 'login' %}" class="user"> <img src="/static/assets/images/userlogo2.png" alt="" style="width: 30px; height: 30px;"></a></li>

        </ul>
      </nav>
    </nav>
  </header>
<!-- popup login page code -->

<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        ...
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>
<!-- popup login page code end -->
  <!-- ***** Main Banner Area Start ***** -->
  <section class="section main-banner" id="top" data-section="section1">
    <video autoplay muted loop id="bg-video">
      <source src="/static/assets/images/course-video.mp4" type="video/mp4" />
    </video>

    <div class="video-overlay header-text">
      <div class="caption">
        <h6>AVS Computer</h6>
        <h2>Where Technology Meets Excellence</h2>
        <!-- <h2><em>Your</em> Classroom</h2> -->
        <div class="main-button">
          <div class="scroll-to-section"><a href="aboutus.html" class="external">Discover more</a></div>
        </div>
      </div>
    </div>
  </section>
  <!-- ***** Main Banner Area End ***** -->


  <!-- <section class="features">
    <div class="container">
      <div class="row">
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>All Courses</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.
                  Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a
                  posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post second-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-graduation-cap"></i>Virtual Class</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.
                  Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a
                  posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section3">Details</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post third-features">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-book"></i>Real Meeting</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.
                  Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a
                  posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section4">Read More</a></div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-lg-4 col-12">
          <div class="features-post">
            <div class="features-content">
              <div class="content-show">
                <h4><i class="fa fa-pencil"></i>All Courses</h4>
              </div>
              <div class="content-hide">
                <p>Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a posuere imperdiet.
                  Donec maximus elementum ex. Cras convallis ex rhoncus, laoreet libero eu, vehicula libero.</p>
                <p class="hidden-sm">Curabitur id eros vehicula, tincidunt libero eu, lobortis mi. In mollis eros a
                  posuere imperdiet.</p>
                <div class="scroll-to-section"><a href="#section2">More Info.</a></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section> -->

  <section class="section why-us" data-section="section2">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Why choose Grad School?</h2>
          </div>
        </div>
        <div class="col-md-12">
          <div id='tabs'>
            <ul>
              <li><a href='#tabs-1'>Best Education</a></li>
              <li><a href='#tabs-2'>Top Management</a></li>
              <li><a href='#tabs-3'>Quality Meeting</a></li>
            </ul>
            <section class='tabs-content'>
              <article id='tabs-1'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/assets/images/choose-us-image-01.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Best Education</h4>
                    <p>Grad School is free educational HTML template with Bootstrap 4.5.2 CSS layout. Feel free to use
                      it for educational or commercial purposes. You may want to make <a
                        href="https://paypal.me/templatemo" target="_parent" rel="sponsored">a little donation</a> to
                      TemplateMo. Please tell your friends about us. Thank you.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-2'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/assets/images/choose-us-image-02.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Top Level</h4>
                    <p>You can modify this HTML layout by editing contents and adding more pages as you needed. Since
                      this template has options to add dropdown menus, you can put many HTML pages.</p>
                    <p>Suspendisse tincidunt, magna ut finibus rutrum, libero dolor euismod odio, nec interdum quam
                      felis non ante.</p>
                  </div>
                </div>
              </article>
              <article id='tabs-3'>
                <div class="row">
                  <div class="col-md-6">
                    <img src="/static/assets/images/choose-us-image-03.png" alt="">
                  </div>
                  <div class="col-md-6">
                    <h4>Quality Meeting</h4>
                    <p>You are NOT allowed to redistribute this template ZIP file on any template collection website.
                      However, you can use this template to convert into a specific theme for any kind of CMS platform
                      such as WordPress. For more information, you shall <a rel="nofollow"
                        href="/static/https://templatemo.com/contact" target="_parent">contact TemplateMo</a> now.</p>
                  </div>
                </div>
              </article>
            </section>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section coming-soon" data-section="section3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 col-xs-12">
          <div class="continers centerIt">
            <div>
              <div class="counters">

                <div class="day">
                  <div class="values">12500</div>
                  <span>Students</span>
                </div>

                <div class="hour">
                  <div class="values">21</div>
                  <span>Courses</span>
                </div>

                <div class="minute">
                  <div class="values">18</div>
                  <span>Years Completed</span>
                </div>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section courses border-top" data-section="section4" style="border:1px solid #212d42;">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Choose Your Course</h2>
          </div>
        </div>
        <div class="owl-carousel owl-theme">
          <div class="item">
            <img src="/static/assets/images/dfa.webp" alt="Course #1" height="155px">
            <div class="down-content">
              <h4>DIPLOMA IN FINANCIAL ACCOUNTING</h4>
              <p>It is a short term Diploma in Accounting and Finance, DFA for students having interest in accounts and
                ...</p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/pdfa.jpg" alt="Course #2" height="155px">
            <div class="down-content">
              <h4>PROFESSIONAL DIPLOMA IN FINANCIAL ACCOUNTING</h4>
              <p>The Diploma in Professional Accounting is a comprehensive programme designed to provide students ...
              </p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/busy.jpg" alt="Course #3" height="155px">
            <div class="down-content">
              <h4>Busy Accounting Software</h4>
              <p>BUSY accounting software offers inventory management features such as stock tracking, purchase ...
              </p>

              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/Advance-Excel.jpg" alt="Course #4" height="155px">
            <div class="down-content">
              <h4>Advance Excel</h4>
              <p>Advanced Excel Functions refers to the features and functions of Microsoft excel, which helps the user
                to perform complex ...</p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/3dmax.jpg" alt="" height="155px">
            <div class="down-content">
              <h4>3Ds Max</h4>
              <p>Autodesk 3ds Max, formerly 3D Studio and 3D Studio Max, is a professional 3D computer graphics program
                for making ...
              </p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/autocad.jpg" alt="" height="155px">
            <div class="down-content">
              <h4>Auto CAD</h4>
              <p>Auto CAD is a computer-aided design software developed by the company Autodesk (hence the name
                AutoCAD). It ... </p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/revit.jpg " alt="" height="155px">
            <div class="down-content">
              <h4>ABOUT REVIT </h4>
              <p>Revit is a design and documentation platform that supports the design, drawings, and schedules required
                for ...
              </p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/solidwork.jpg" alt="" height="155px">
            <div class="down-content">
              <h4>SOLID WORKS</h4>
              <p>Solid Works is a solid modeling computer-aided design and computer-aided engineering computer program
                that runs primarily on ...</p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/cprogram.jpg" alt="" height="155px">
            <div class="down-content">
              <h4>C Programming</h4>
              <p>C is highly portable and is used for scripting system applications which form a major part of Windows,
                UNIX, and ...
              </p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/c++.jfif" alt="" height="155px">
            <div class="down-content">
              <h4>C++ Programming</h4>
              <p>C++ is a powerful general-purpose programming language. It can be used to develop operating systems,
                browsers, ... </p>

              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/webdesigning.jfif" alt="" height="155px">
            <div class="down-content">
              <h4>Web Designing</h4>
              <p>Web designing is the process of planning, conceptualizing, and implementing the plan for designing a
                website in ...
              </p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/dit.jpg" alt="Course #2" height="155px">
            <div class="down-content">
              <h4>DIPLOMA IN INFORMATION TECHNOLOGY</h4>
              <p>DIT stands for Diploma in Information Technology is 8 Months diploma program having ...</p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/JAVA.jpg" alt="Course #3" height="155px">
            <div class="down-content">
              <h4>Java Introduction</h4>
              <p>Core Java: Core Java is the part of Java programming language that is used for creating or developing a
                general-purpose application. ...
              </p>

              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/ADVANCEPHP.jpg" alt="Course #4" height="155px">
            <div class="down-content">
              <h4>Advance PHP</h4>
              <p>
                DIT stands for Diploma in Information Technology is 8 Months diploma program having two different
                modules. The purpose ...</p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/dcst.jfif" alt="" height="155px">
            <div class="down-content">
              <h4>ADVACNCE DIPLOMA IN COMPUTER SOFTWARE TECHNOLOGY</h4>
              <p>The Advanced Diploma of Information Technology offers specialised knowledge in advanced software ...
              </p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/php.png" alt="" height="155px">
            <div class="down-content">
              <h4>PHP Training</h4>
              <p>Stands for "Hypertext Preprocessor." PHP is an HTML-embedded Web scripting language. This means PHP
                code can ...</p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/python.jpg " alt="" height="155px">
            <div class="down-content">
              <h4>Python</h4>
              <p>Python is an interpreted, object-oriented, high-level programming language with dynamic semantics. ...
              </p>
              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/ddp.jfif" alt="" height="155px">
            <div class="down-content">
              <h4>DIPLOMA IN DESKTOP PUBLISHING</h4>
              <p>DTP Course gives basic idea of computer applications with computer Designing tools, its gives
                functional idea ...</p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/dfa.jfif" alt="" height="155px">
            <div class="down-content">
              <h4>DIPLOMA IN FINANCIAL ACCOUNTING</h4>
              <p>DFA Course gives basic idea of Computer applications with Tally, its gives functional idea of Office &
                Accounts ...
              </p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/dca.jfif" alt="" height="155px">
            <div class="down-content">
              <h4>ADVANCE DIPLOMA IN COMPUTER APPLICATION</h4>
              <p>ADCA Course gives basic idea of all computer applications, its gives functional idea of Office &
                Accounts so that ... </p>

              <div class="text-button-free">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
          <div class="item">
            <img src="/static/assets/images/ctt.jfif" alt="" height="155px">
            <div class="down-content">
              <h4>COMPUTER TEACHER TRAINING</h4>
              <p>CTT Course gives basic idea of all computer applications also develop teaching skills of the
                candidates, its gives ...
              </p>
              <div class="text-button-pay">
                <a href="#">Know more <i class="fa fa-angle-double-right"></i></a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>


  <section class="section video" data-section="section5">
    <div class="container">
      <div class="row">
        <div class="col-md-6 align-self-center">
          <div class="left-content">
            <span>our presentation is for you</span>
            <h4>Services Offered at <em>AVS Computer training centre </em></h4>
            <p>AVS COMPUTER training centre in Vijay Nagar Ghaziabad offers short-term courses and certificate courses.
              Inclusive of comprehensive learning, the long-term programmes feature subjects such as web development,
              financial accountancy, computer application and programming, information technology, multimedia and
              web-designing. Some of the short-term courses cover topics like Windows XP, 7, 8, 10, Vista, MS Office,
              DTP (Desk Top Publishing), Web Designing, Multimedia, Tally ERP 9, C, C++ , and Visual Basic. Walk into
              this centre all through the week between 07:00 - 21:00. Pay in Cash, Credit Card, Master Card, Visa Card,
              Cheques, Debit Cards.
            </p>
            <div class="main-button"><a rel="nofollow" href="https://fb.com/templatemo" target="_parent">External
                URL</a></div>
          </div>
        </div>
        <div class="col-md-6">
          <article class="video-item">
            <figure>
              <img src="/static/assets/images/services.jpg" alt="">

            </figure>
          </article>
        </div>
      </div>
    </div>
  </section>

  <section class="section contact" data-section="section6">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="section-heading">
            <h2>Let’s Keep In Touch</h2>
          </div>
        </div>
        <div class="col-md-12">
          <form id="contact" action="" method="post">
            <div class="row">
              <div class="col-md-6">
                <fieldset>
                  <input name="name" type="text" class="form-control" id="name" placeholder="Your Name" required="">
                </fieldset>
              </div>
              <div class="col-md-6">
                <fieldset>
                  <input name="email" type="text" class="form-control" id="email" placeholder="Your Email" required="">
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <textarea name="message" rows="6" class="form-control" id="message" placeholder="Your message..."
                    required=""></textarea>
                </fieldset>
              </div>
              <div class="col-md-12">
                <fieldset>
                  <button type="submit" id="form-submit" class="button">Send Message Now</button>
                </fieldset>
              </div>
            </div>
          </form>
        </div>
        <!-- <div class="col-md-6">
          <div id="map">
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14006.02322923225!2d77.427806!3d28.64457!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cf1d5eac75ad1%3A0x739d0ca6552cc082!2sAVS%20Computer%20Education!5e0!3m2!1sen!2sin!4v1717238052353!5m2!1sen!2sin"
              width="100%" height="422px" frameborder="0" style="border:0" allowfullscreen></iframe>
          </div>
        </div> -->
      </div>
    </div>
  </section>

<div class="counter-container-main">
  <div class="counter-container">
    <i class="fab fa-instagram fa-3x"></i>
    <div class="counter" data-target="12000"></div>
    <span>Instagram Followers</span>
  </div>
  <div class="counter-container">
    <i class="fab fa-youtube fa-3x"></i>
    <div class="counter" data-target="5000"></div>
    <span>YouTube Subscribers</span>
  </div>
  <div class="counter-container">
    <i class="fab fa-facebook fa-3x"></i>
    <div class="counter" data-target="7500"></div>
    <span>Facebook Fans</span>
  </div>
</div>

  <footer class="py-5">
    <div class="row" style="width: 100%;">


      <div class="col-4">
        <img src="/static/assets/images/logo (1).png" alt="">
        <p class="text-muted">Inclusive of comprehensive learning, the long-term programmes feature subjects such as web
          development,
          financial accountancy, computer application and programming, </p>
      </div>

      <div class="col-4">
        <h5 style="color: #8e8a89;">Contact on</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> &nbsp; &nbsp; +91 98180 12053</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"> &nbsp; &nbsp; avsitc@gmail.com</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted">B- 18, New Vijay Nagar, Sector - 9,
              Ghaziabad, Uttar Pradesh 201009</a></li>
        </ul>
      </div>

      <div class="col-4">
        <h5 style="color: #8e8a89;">Follow us on</h5>
        <ul class="nav flex-column">
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i
                  class="fa fa-facebook"> </i></span> Facebook</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i
                  class="fa fa-instagram"> </i></span> Instagram</a></li>
          <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i
                  class="fa fa-twitter"></i></span> Twitter</a></li>
          <!-- <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i class="fa fa-facebook"></i></span> Home</a></li>
              <li class="nav-item mb-2"><a href="#" class="nav-link p-0 text-muted"><span class="ico"><i class="fa fa-facebook"></i></span> Home</a></li> -->
        </ul>
      </div>


    </div>

    <div class="d-flex justify-content-center mt-3  border-top text-white">
      <p>© 2021 Company, Inc. All rights reserved. <br> Design By ThemeWagon</p>
    </div>
  </footer>




  <!-- Scripts -->
  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

  <script src="assets/js/isotope.min.js"></script>
  <script src="assets/js/owl-carousel.js"></script>
  <script src="assets/js/lightbox.js"></script>
  <script src="assets/js/tabs.js"></script>
  <script src="assets/js/video.js"></script>
  <script src="assets/js/slick-slider.js"></script>
  <script src="assets/js/custom.js"></script>
  <script>
    //according to loftblog tut
    $('.nav li:first').addClass('active');

    var showSection = function showSection(section, isAnimate) {
      var
        direction = section.replace(/#/, ''),
        reqSection = $('.section').filter('[data-section="' + direction + '"]'),
        reqSectionPos = reqSection.offset().top - 0;

      if (isAnimate) {
        $('body, html').animate({
          scrollTop: reqSectionPos
        },
          800);
      } else {
        $('body, html').scrollTop(reqSectionPos);
      }

    };

    var checkSection = function checkSection() {
      $('.section').each(function () {
        var
          $this = $(this),
          topEdge = $this.offset().top - 80,
          bottomEdge = topEdge + $this.height(),
          wScroll = $(window).scrollTop();
        if (topEdge < wScroll && bottomEdge > wScroll) {
          var
            currentId = $this.data('section'),
            reqLink = $('a').filter('[href*=\\#' + currentId + ']');
          reqLink.closest('li').addClass('active').
            siblings().removeClass('active');
        }
      });
    };

    $('.main-menu, .scroll-to-section').on('click', 'a', function (e) {
      if ($(e.target).hasClass('external')) {
        return;
      }
      e.preventDefault();
      $('#menu').removeClass('active');
      showSection($(this).attr('href'), true);
    });

    $(window).scroll(function () {
      checkSection();
    });
  </script>
</body>

</html>